services:
  app:
    # This is for Mac M1 processors
    platform: linux/x86_64
    build:
      context: .
      dockerfile: Dockerfile
      target: development
      args:
        ARG_RAILS_ENV: development
        ARG_BUNDLE_WITHOUT: ""
    command: bin/dev
    image: buses_monitor:development
    container_name: buses_monitor
    stdin_open: true # docker run -i
    tty: true        # docker run -t
    env_file:
      - ./.env
    ports:
      - 3000:3000
    volumes:
      # /buses_monitor is the folder created for the application in the Dockerfile
      - .:/buses_monitor
